<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.edu.utng.jasperreport">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BienvenidaActivity"
            android:label="Jasper Report"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity" />
        <activity android:name=".IntroduccionActivity" />
        <activity android:name=".IntroduccionPrevioActivity" />
        <activity android:name=".DesarrolladorActivity" />
        <activity android:name=".TabsActivity" />
        <activity android:name=".CapitulosActivity" />
        <activity android:name=".Login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.SignUp" />
        <activity android:name=".Login.Display" />
        <activity android:name=".Quiz.QuizActivity" />
        <activity android:name=".Quiz.ResultActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
        <activity android:name=".AgradecimientosActivity"></activity>
        <activity android:name=".InstalacionActivity"></activity>
        <activity android:name=".HistoriaActivity"></activity>
        <activity android:name=".MaterialDinamicoActivity"></activity>
        <activity android:name=".grafica.GraphAChartEngineActivity"></activity>
        <activity android:name="org.achartengine.GraphicalActivity"></activity>
        <activity android:name=".EjemploEmailActivity"></activity>
        <activity android:name=".UTNGActivity"></activity>
    </application>

</manifest>
